.container {
  display: flex;
  flex-direction: column;
}

.inputInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[name="infoUserName"],
[name="infoUserMessage"],
[name="infoUserNumber"],
[name="infoUserEmail"],
[name="infoUserButton"] {
  max-width: 300px;
  width: 100%;
}

.errorResult::placeholder {
  color: #cf0000;
}
