<h2>We would like to help you</h2>

<form id="form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" placeholder="Введіть ім’я"><br>
    <div id="name-error"></div><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" placeholder="Введіть email"><br>
    <div id="email-error"></div><br>

    <label for="phone">Телефон:</label><br>
    <input type="text" id="phone" placeholder="Введіть телефон"><br>
    <div id="phone-error"></div><br>

    <label for="message">Message:</label><br>
    <textarea id="message" placeholder="Ваше повідомлення"></textarea><br>
    <div id="message-error"></div><br>

    <button type="submit">Відправити</button>
</form>